---
layout: default
refactor: true
---
{% include lang.html %}

{% assign pinned = site.posts | where: 'pin', 'true' %}
{% assign default = site.posts | where_exp: 'item', 'item.pin != true and item.hidden != true' %}

{% assign posts = '' | split: '' %}

<!-- Get pinned posts -->

{% assign offset = paginator.page | minus: 1 | times: paginator.per_page %}
{% assign pinned_num = pinned.size | minus: offset %}

{% if pinned_num > 0 %}
  {% for i in (offset..pinned.size) limit: pinned_num %}
    {% assign posts = posts | push: pinned[i] %}
  {% endfor %}
{% else %}
  {% assign pinned_num = 0 %}
{% endif %}
<h1>About Me</h1>
As a Robotics Engineer with over 7 years of experience, my career has been driven by a passion for developing innovative autonomous systems and computer vision applications. My expertise spans from advanced navigation algorithms for autonomous vehicles to pioneering vision-based systems in agricultural robotics. I've engineered collision avoidance solutions for drone fleets and warehouse robots, achieving up to 99.9% accuracy, and led projects that increased industrial automation efficiency by 80%.

My journey, marked by impactful roles at Virginia Tech Transportation Institute, Oregon State University, and IIIT Hyderabad, showcases my ability to bridge cutting-edge research with practical implementation. I've contributed to projects for industry leaders like Collins Aerospace, Intel, and Fujitsu, pushing the boundaries of what's possible in robotics and AI.

I'm committed to advancing the field of robotics, leveraging my diverse skill set in C++, ROS, and machine learning to solve complex real-world problems. With each project, I aim to create solutions that not only meet current needs but also pave the way for future innovations in autonomous systems and robotics technology.


<!-- publication -->
<h1>Experience</h1>
<hr>
<div class="publication">
  <div class="publication-content">
    <div class="publication-title">Robotics Engineer</div>
    <div class="publication-org">Virginia Tech Transportation Institute</div>
    <div class="publication-period">June 2023 - Present</div>
    <div class="publication-description">
      Spearheading autonomous truck navigation projects, including development of a CARLA-based simulation environment integrated with ROS, LiDAR-based 3D object detection achieving 98% accuracy, and implementation of advanced driver assistance systems. Engineered real-time path planning for reverse parking, collision avoidance and control in GPS denied areas, and CAN communication for precise vehicle control.
    </div>
  </div>
</div>

<div class="publication">
  <div class="publication-content">
    <div class="publication-title">Graduate Research Assistant</div>
    <div class="publication-org">Oregon State University</div>
    <div class="publication-period">December 2021 - June 2023</div>
    <div class="publication-description">
      Pioneered innovative computer vision and robotics solutions for agriculture, including 3D volumetric reconstruction of cherry trees with 98% accuracy, synthetic data generation for robotic pruning, and development of a vision-based pruning system achieving 99% detection accuracy and 68% cut accuracy in real-world deployment.
    </div>
    <div class="publication-links">
      <a href="https://github.com/josyulakrishna/detectron2_pruning">Project link</a>
    </div>
  </div>
</div>

<div class="publication">
  <div class="publication-content">
    <div class="publication-title">Research Intern</div>
    <div class="publication-org">Fujitsu Research</div>
    <div class="publication-period">June 2022 - September 2022</div>
    <div class="publication-description">
      Conducted cutting-edge research on Reinforcement Learning for Combinatorial Optimization, focusing on Min k-cut and Maxcut problems using Graph Neural Networks and Pointer Networks.
    </div>
  </div>
</div>

<div class="publication">
  <div class="publication-content">
    <div class="publication-title">Technical Lead</div>
    <div class="publication-org">Hi-Tech Robotic Systemz</div>
    <div class="publication-period">November 2020 - September 2021</div>
    <div class="publication-description">
      Led the design and implementation of autonomous forklift systems and fleet management solutions, increasing machine productivity by 80%. Developed innovative obstacle avoidance systems for a fleet of 63 robots, enhancing operational efficiency in warehouse environments.
    </div>
  </div>
</div>

<div class="publication">
  <div class="publication-content">
    <div class="publication-title">Research Assistant</div>
    <div class="publication-org">Robotics Research Center, IIIT Hyderabad</div>
    <div class="publication-period">June 2016 - November 2020</div>
    <div class="publication-description">
      Conducted extensive research on motion planning and navigation for autonomous vehicles, developing collision avoidance algorithms for drone fleets with 99.9% accuracy. Contributed to projects for Collins Aerospace and Intel India, focusing on urban driving under uncertainty and sensor fusion SLAM.
    </div>
  </div>
</div>

<!-- Publications -->

<h1>Publications</h1>
<hr>
<div class="publication">
  <div class="publication-content">
    <div class="publication-title">
      Semiautonmous Precision Pruning Of Upright Fruiting Offshoot Orchard Systems
    </div>
    
    <div class="publication-authors">
      Alexander You, Nidhi Parayil, <strong>Josyula Gopala Krishna</strong>, Uddhav Bhattarai, Ranjan Sapkota, Dawood Ahmed, Matthew Whiting, Manoj Karkee, Cindy M. Grimm, and Joseph R. Davidson
    </div>
    
    <div class="publication-details">
      Presented at <em>ICRA 2024</em>
    </div>
    
    <div class="publication-description">
      Our paper on Robotic Pruning has been published in IEEE RAM special issue on Agricultural Robotics and has been accepted for presentation at ICRA 2024!
    </div>
    
    <div class="publication-links">
      <a href="https://ieeexplore.ieee.org/document/10246299">Paper</a>
      <!-- Uncomment below if you have a paper link -->
      <a href="https://youtu.be/AQxMjCgiHfI?t=74">Video</a>
    </div>
  </div>
</div>

<div class="publication">
  <div class="publication-content">
    <div class="publication-title">
      Probabilistic Collision Avoidance For Multiple Robots: A Closed Form PDF Approach
    </div>
    
    <div class="publication-authors">
      <strong>Josyula Gopala Krishna</strong>, Anirudha Ramesh, K Madhava Krishna
    </div>
    
    <div class="publication-details">
      Presented at <em>Intelligent Vehicles Symposium 2021</em>
    </div>
    
    <div class="publication-description">
      Intent based collision avoidance for autonomous vehicles with collision avoidance guarantees for a specied confidence interval. Applicable for unstructured environments and various on road scenarios.  
    </div>
    
    <div class="publication-links">
      <!-- <a href="https://docs.google.com/presentation/d/18Fg3G3-C0pzFChpTumYyRdYhzVsVeW96/edit#slide=id.p1">Report</a> -->
      <!-- Uncomment below if you have a paper link -->
      <a href="https://ieeexplore.ieee.org/document/9575767">Paper</a>
    </div>
  </div>
</div>

<h1>Projects</h1>
<hr>

<div class="publication">
  <img src="assets/img/projects/mmac_drones.png" alt="multirobot collision avoidance">
  <div class="publication-content">
    <div class="publication-title">Distributed Collision Avoidance For Multiple Robots</div>
    <div class="publication-details">
      Multirobot collision avoidance with ORCA constraints for drones and holonomic ground vehicles
    </div>
    <div class="publication-links">
      <a href="https://github.com/josyulakrishna/multiagent_collision_avoidance_holonomic">Code</a>
      <a href="https://github.com/josyulakrishna/multiagent_collision_avoidance_holonomic/blob/master/demo/50agents.gif"
        >Video</a
      >
    </div>
    <div class="publication-description">A project for Collins Aeorospace with code in Matlab</div>
  </div>
</div>

<div class="publication">
  <img src="assets/img/projects/multirobotPayloadTransport.png" alt="Algorithm">
  <div class="publication-content">
    <div class="publication-title">Multirobot Payload Transport</div>

    <div class="publication-details">
      Demonstrated multirobot payload transport with centralized and decentralized reinforcement learning approaches to
      transport a rigid object
    </div>
    <div class="publication-links">
      <a href="https://github.com/josyulakrishna/multiRobotCarry">Code and Videos</a>
      <a href="https://josyulakrishna.github.io/assets/pdf/MASfinalpaper.pdf"> Paper</a>
    </div>
    <div class="publication-description">
      Designed the simulation environment in PyBullet and to work with gym enviroments and experimented with MADDPG,
      PPO, MAPPO and Neurocoevolutionary methods for multirobot payload transport
    </div>
  </div>
</div>

<div class="publication">
  <img src="assets/img/projects/time_scaling.png" alt="Algorithm">
  <div class="publication-content">
    <div class="publication-title">MultiAgent Collision Avoidance With Scaling On Complex Trajectories</div>

    <div class="publication-details">
      Non-holonomic collision avoidance for multiple agents with scaling on complex trajectories
    </div>
    <div class="publication-links">
      <a href="https://github.com/josyulakrishna/multiagent_collision_avoidance_scaling">Code</a>
      {% comment %} <a href="https://josyulakrishna.github.io/assets/pdf/MASfinalpaper.pdf" > Paper</a> {% endcomment %}
    </div>
    <div class="publication-description">
      Collision avoidance for autonomous robots in complex ustructured trajectories with non-linear time scaling on
      collision cone enabling collision avoidance
    </div>
  </div>
</div>

<div class="publication">
  <img src="assets/img/projects/ur5_millrace.png" alt="Algorithm">
  <div class="publication-content">
    <div class="publication-title">Precision Orchard Management Mapping a Orchard</div>

    <div class="publication-details">
      Created a 3D map of an orchard using a UR5 robotic arm with a Intel Realsense depth camera
    </div>
    <div class="publication-links">
      <a href="https://docs.google.com/presentation/d/18Fg3G3-C0pzFChpTumYyRdYhzVsVeW96/edit#slide=id.p1">Report</a>
      {% comment %} <a href="https://josyulakrishna.github.io/assets/pdf/MASfinalpaper.pdf" > Paper</a> {% endcomment %}
    </div>
    <div class="publication-description">
      A branch segementation and mapping project with RTAB mapping and Hollistic Nested Edge Detection
    </div>
  </div>
</div>
<div class="publication">
  <img src="assets/img/projects/intel-1-dmin.gif" alt="Algorithm">
  <div class="publication-content">
    <div class="publication-title">Responsibility Sensitive & Safety For Autonomous Vehicles</div>

    <div class="publication-details">
      Re-formulated RSS constraints under estimation uncertainty, demonstrated collision avoidance under uncertainty, project for Intel India    
    </div>
    <div class="publication-links">
      <a href="https://docs.google.com/presentation/d/1X8Ii1XTuUo9i7_HuwCRVGjfEPj2XcRqB8s-A30qTCYQ/edit?usp=sharing">Report</a>
    </div>
    <div class="publication-description">
      Exhaustive analysis of RSS constraints under uncertainty and demonstrated collision avoidance under uncertainty with RSS constraints for autonomous vehicles
    </div>
  </div>

</div>

<div class="publication">
  <img src="assets/img/projects/inter.gif" alt="Algorithm">
  <div class="publication-content">
    <div class="publication-title">Frenet-Frame Planning for Autonomous Vehicles in CARLA Simulator
  </div>

    <div class="publication-details">
      Frenet-Frame based planning with lane-change, merging and intersection management    
    </div>
    <div class="publication-links">
      <a href="https://github.com/josyulakrishna/carlaFrenetFrames">Code and Videos</a>
    </div>
    <div class="publication-description">
      Implemented Frenet-Frame based planning for autonomous vehicles in CARLA simulator with lane-change, merging and intersection management with PID controllers
    </div>
</div>

<!-- #post-list -->

{% if paginator.total_pages > 1 %}
  {% include post-paginator.html %}
{% endif %}
